<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>output.log</file>
        <append>false</append>
        <encoder>
            <pattern>%-20t %-30(%-5level %logger{20}) %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERRORS" class="ch.qos.logback.core.FileAppender">
        <file>errors.log</file>
        <append>false</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-30(%-5level %logger{20}) %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="indexation_errors" level="debug" additivity="false">
        <appender-ref ref="ERRORS" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>